@import "../../styles/variables.scss";
.button-container {
  cursor: pointer;
  min-width: 150px;
  width: auto;
  padding: 10px 18px;
  color: #fff;
  background: $primary;
  border: 1px solid $primary;
  box-shadow: 0px 1px 2px rgba(198, 228, 246, 0.05);
  border-radius: 999px;
  text-transform: uppercase;
  transition: ease-in 0.2s;

  &:hover {
    background-color: #fff;
    color: $primary;
    border: 1px solid $primary;
  }

  &.inverted {
    background-color: #fff;
    color: $primary;
    border: 1px solid $primary;

    &:hover {
      background-color: $primary;
      color: #fff;
    }
    &:disabled,
    &[disabled] {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
      cursor: default;
    }
  }

  &:disabled,
  &[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
  }
}
