.cart-table {
  width: 100%;
  &-footer {
    display: flex;
    justify-content: flex-end;
    &-container {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 900px) {
  .cart-table {
    display: flex;
    flex-direction: column;
    &-header {
      display: none;
    }
  }
}
