.cart {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  border-collapse: collapse;

  &-amount {
    text-align: center !important;
  }

  th {
    color: #fff;
    background-color: #04aa6d;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }
}
