.filters {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  position: sticky;
  top: -100px;
  height: 100%;
  width: 100%;
  max-width: 200px;
  transition: left 0.3s ease-in;
  &-rating {
    display: flex;
    gap: 8px;
  }
  &-container {
    padding: 8px;
    border-bottom: 1px solid rgb(218, 218, 218);
  }
  &-option {
    display: flex;
    gap: 8px;
    margin-top: 8px;
  }
  &-price {
    &-input {
      min-height: 32px;
      max-width: 70px;
      text-align: center;
    }
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-item {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 650px) {
  .filters {
    position: static;
    max-width: 100%;
    &-price {
      &-container {
        justify-content: flex-start;
      }
    }
  }
}
