.cart-item {
  &-image {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    &-container {
      display: flex;
      max-height: 150px;
      max-width: 150px;
    }
  }
  &-quantity {
    &-container {
      display: flex;
      justify-content: center;
      gap: 8px;
    }
  }
  &-arrow {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .cart-item {
    &-row {
      display: flex;
      flex-direction: column;
      padding: 8px;
    }
    &-title::before {
      content: "Title";
    }
    &-price::before {
      content: "Price";
    }
    &-quantity::before {
      content: "Quantity";
    }
    &-total::before {
      content: "Total";
    }
    &-title,
    &-price,
    &-quantity,
    &-total {
      display: flex;
      justify-content: space-between;
      gap: 32px;
    }
  }
}
